@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 375px) {
  .tabs {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .tab {
    font-size: 12px;
    padding: 8px 12px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 375px) {
  .message {
    white-space: pre-line;
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to { opacity: 0; }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards;
}

.animate-fade-out {
  animation: fade-out 1s ease-in-out forwards;
}

.flex-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 calc((100vw - 100%));
}

.flex-container > div {
  flex: 0 0 300px;
  margin: 0 60px;
}