@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 375px) {
  .tabs {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .tab {
    font-size: 12px;
    padding: 8px 12px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 375px) {
  .message {
    white-space: pre-line;
  }
}